{% extends 'base.html.twig' %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if not app.user %}
    <form method="post">
        <label for="inputUsername">Nom d'utilisateur :</label>
        <input type="text" id="inputUsername" name="username" value="{{ last_username }}" />

        <label for="inputPassword">Mot de passe :</label>
        <input type="password" id="inputPassword" name="password" />
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >
        <button class="btn btn-success" type="submit">Se connecter</button>
    </form>
    {% endif %}

{% endblock %}
