default:
    suites:
        default:
            contexts:
                - Behat\MinkExtension\Context\MinkContext
                - App\Tests\Behat\DoctrineContext:
                    entityManager: '@doctrine.orm.default_entity_manager'
                    passwordEncoder: '@security.user_password_encoder.generic'

    extensions:
        Behat\MinkExtension:
            base_url: "https://localhost/"
            default_session: symfony
            sessions:
                symfony:
                    symfony: ~
        FriendsOfBehat\SymfonyExtension:
            kernel:
                environment: test
